*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

#intro{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.content{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.content > *{
    margin: 0.5rem;
}

.content-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
    margin: 0 auto 3rem auto;
}

.nav-item{
    list-style: none;
    position: relative;
    cursor: pointer;

}
.nav-item::before{
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    height: 1px;
    width: 0;
    transition: 0.2s ease-in-out;
}
.nav-item:hover::before{
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    height: 1px;
    width: 100%;
}

@keyframes content-in {
    0%{
        opacity: 0;
        left: 50%;
        top: 40%;
    }
    30%{
        opacity: 0;
        left: 50%;
        top: 40%;
    }
    100%{
        opacity: 1;
        left: 50%;
        top: 30%;
    }
}

@keyframes intro-anim {
    0%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-45%);
        
    }
    100%{
        transform: translateY(-45%);
        margin-top: 2rem;
        width: 100%;
        height:30%;
        font-size: 1.8rem;
    }
}