h1{
    margin: 0.5em;
}
a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bigimg{
    width: 80%;
}
#obrázky{
    display: none;
}